*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Tahoma;
    background: #f4f1de;
}

nav{
    background: #90323d;
    height: 120px;
    width: 100%;
}

label.name{
    color: white;
    font-size: 35px;
    line-height: 120px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
    line-height: 120px;
    margin: 0 5px
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background-color: #5e0b15;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 120px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}

#check{
    display: none;
}

@media (max-width: 952px){
    label.name{
        font-size: 30px;
        padding-left: 50px;

    }
    nav ul li a{
        font-size: 16px;
    }

}

@media (max-width: 858px) {
    .checkbtn{
        display: block;

    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #5e0b15;
        top: 120px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }

    nav ul li{
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a:active{
        background: none;
        color: #000;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

.slider-wrapper{
    position: relative;
}

.slider-wrapper .slide-button{
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #f4f1de;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover{
    background: #444;
}

.slider-wrapper .slide-button#prev-slide{
    left: -20px;
    display: none;

}

.slider-wrapper .slide-button#next-slide{
    right: -20px;
    
}


.slider-wrapper .image-list{
    display: grid;
    gap: 18px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(11, 1fr);

}

.slider-wrapper .image-list::-webkit-scrollbar{
    display: none;
}

.slider-wrapper .image-list .image-item{
    height: 400px;
    object-fit: cover;
}

.photo-text{
    display: flex;
    margin: 2%;
    margin-left: 5%;
}

section{
    padding-left: 5%;
    margin-bottom: -60px;
    margin-top: 20px;
    justify-content: center;
    min-height: 100vh;
    background: #f4f1de;
}

.photos{
    max-width: 1400px;
    width: 95%;
}



.photos .slider-scrollbar{
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track{
    height: 4px;

}

.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #000;
    border-radius: inherit;
    cursor: grab;
}


.slider-scrollbar .scrollbar-thumb:active{
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

@media (max-width: 1023px){
    .slider-wrapper .slide-button{
        display: none!important;
    }

    .slider-wrapper .image-list{
        gap: 10px;
        margin-bottom: 15px;
    }

    .slider-wrapper .image-list .image-item{
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb{
        width: 20%;
    }
}